<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RAhand</title>
    <link rel="stylesheet" type="text/css" href="/static/css/main_style.css">
</head>
<body>
    <div class="rahand">
        <a href="/">RAhand</a>
    </div>
    
    <div class="upload">
        <input type="file" id="imageInput" style="display: none;" accept="image/*">
        <div id="statusMessage"></div>
        <a href="/" id="downloadAnalyzedImage" class="image_download" download style="display: none;">
            <button>Prediction Image Download</button>
        </a>
    </div>
    <div class="container">
        <div class="img-container">
            <button id="uploadButton" onclick="openImageUploader()">Image Upload</button>
            <div id="uploadedImageContainer">
                <img src="/images/box.png" id="virtualUploadImage" class="virtual-image">
            </div>
            <p class="original">Original Image</p>
        </div>
        <div class="arrow-container">
            <button id="analyzeButton" onclick="analyzeAndUploadImage()">Analysis</button>
            <img src="/images/arrow-icon.png" class="arrow-image">
        </div>
        
        <div class="img-container">
            <button id="resetButton" onclick="resetImage()">Reset</button>
            <div id="resultImage">
                <img src="/images/box.png" id="virtualResultImage" class="virtual-image">
            </div>
            <p class="predicion">Prediction Image</p>
        </div>
    </div>
    </div>


    <script>
                // 이미지 업로드 인풋을 클릭하는 함수
        function openImageUploader() {
            document.getElementById('imageInput').click();
        }
        // 이미지 인풋의 변화를 감지하고, 업로드된 이미지를 미리보기로 표시
        document.getElementById('imageInput').addEventListener('change', function() {
            const file = this.files[0];
            if (file) {
                const reader = new FileReader();
                reader.onload = function(event) {
                    const imageContainer = document.getElementById('uploadedImageContainer');
                    imageContainer.innerHTML = `<img src="${event.target.result}" alt="Uploaded Image" width="500">`;

                    const imageNameWithoutExtension = file.name.replaceAll('.jpg', '');
                    document.getElementById('downloadAnalyzedImage').href = "/out/result_" + file.name;
                    // document.getElementById('downloadCsv').href = "/out/[ACL]_result_" + imageNameWithoutExtension + ".csv";
                }
                reader.readAsDataURL(file);
            }
        });



        document.getElementById('imageInput').addEventListener('change', function() {
            // 이미지 선택 후 서버에 폴더 내용 삭제 요청
            const selectedImageName = this.files[0].name;
            fetch(`/delete_folders_content/${selectedImageName}`)
                .then(response => response.json())
                .then(data => console.log(data.message))
                .catch(error => console.error('Error:', error));
        });



// 사용자가 이미지를 업로드하고 '분석' 버튼을 클릭했을 때 호출되는 함수
function analyzeAndUploadImage() {
    document.getElementById("statusMessage").innerText = "Analyzing...";
    // 사용자가 선택한 이미지를 가져옴
    const inputElement = document.getElementById('imageInput');
    const file = inputElement.files[0];
    // FormData 객체를 생성하고 이미지를 추가
    const formData = new FormData();
    formData.append('image', file);

    // 이미지를 서버로 전송하고 분석 결과를 요청
    fetch('/upload_and_analyze_ra/', {
        method: 'POST',
        body: formData
    })
    .then(response => {
        if (!response.ok) {
            throw new Error(`HTTP error! status: ${response.status}`);
        }
        return response.json();
    })
    .then(data => {
        console.log('Received data:', data); // 콘솔에 데이터 로깅
        if (data && data.data) {
            document.getElementById("statusMessage").innerText = "Analysis Completed";
            // 분석된 이미지를 웹 페이지에 표시
            const resultImageContainer = document.getElementById('resultImage');
            // 변환된 이미지의 경로 설정
            const convertedImagePath = `/out/${file.name}`;
            resultImageContainer.innerHTML = `<img src="${convertedImagePath}" alt="Analyzed Image" width="200">`;

            // 분석이 완료되면 이미지 다운로드 버튼 활성화
            const downloadButton = document.getElementById('downloadAnalyzedImage');
            downloadButton.href = convertedImagePath;
            downloadButton.style.display = 'block';
        } else {
            // 데이터가 올바르지 않은 경우 처리
            document.getElementById("statusMessage").innerText = "Error in Analysis";
            console.error('Invalid response data', data);
        }
    })
    .catch(error => {
        // 요청 실패 시 오류 처리
        document.getElementById("statusMessage").innerText = "Error in Analysis";
        console.error('Error during fetch', error);
    });
}

        
        // 업로드한 이미지를 리셋하는 함수
        function resetImage() {
            location.reload();
        }





    </script>

</body>
</html>
